<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>US COVID-19 Statistics</title>
</head>

<body>

    <button><a href="/download">Download</a></button>
    <table class="table">
        <thead>
            <tr>
                {% for item in data[0].keys() %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in data %}
            <tr>
                {% for i in item.values() %}
                <td>{{ i }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>